# Defining the runtime environment
env {
  parallelism = 1
  job.mode = "BATCH"
}

source{
    Jdbc {
        url = "jdbc:mysql://172.27.27.139:3306/test?serverTimezone=GMT%2b8&useUnicode=true&characterEncoding=UTF-8&rewriteBatchedStatements=true"
        driver = "com.mysql.cj.jdbc.Driver"
        connection_check_timeout_sec = 100
        user = "test"
        password = "test"
        query = "select * from ss_test_dwmc_info limit 16"
    }
}

sink {
    jdbc {
        url = "jdbc:mysql://172.27.27.139:3306/test?useUnicode=true&characterEncoding=UTF-8&rewriteBatchedStatements=true"
        driver = "com.mysql.cj.jdbc.Driver"
        user = "test"
        password = "test"
        generate_sink_sql = true
        database = test
        table = ss_test_dwmc_info_sink
    }
}